@model MVCSTOK.Models.Entity.tblkategori
@{
    ViewBag.Title = "KategoriGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle", "Kategoriler", FormMethod.Post))
{

    @Html.HiddenFor(x => x.KategoriId)
    
    <div class="form-group">
        @Html.LabelFor(x => x.KategoriAd, "Kategori Adı:")
        @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control", placeholder = "Kategori adını girin" })
        @Html.ValidationMessageFor(x => x.KategoriAd, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Aciklama, "Açıklama:")
        @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", rows = 4, placeholder = "Açıklama yazın" })
        @Html.ValidationMessageFor(x => x.Aciklama, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
}


